spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
analytics:
  datasource:
    url: ${READONLY_DB_URL}
    username: ${READONLY_DB_USER}
    password: ${READONLY_DB_PW}