spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

    url: ${LOCAL_DB_URL}

    username: ${LOCAL_DB_USERNAME}

    password: ${LOCAL_DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update # 로컬 테스트 환경에서는 'create', 'update' 등을 고려
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  batch:
    jdbc:
      initialize-schema: always # 로컬에서는 always 추천
    job:
      enabled: false # 앱 시작 시 자동 실행 막고, 스케줄러로만 돌리기

etl:
  local-dir: ./etl-data # 실행 경로 기준 폴더 생성됨

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: nexerp-etl-bucket
    region:
      static: ${AWS_REGION}
    stack:
      auto: false




